/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/Makefile.in
/bin/config.hpp.in~
build*
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/missing
/configure
